[submodule "TheFoolEngine/vendor/spdlog"]
	path = TheFoolEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "TheFoolEngine/vendor/imgui"]
	path = TheFoolEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "TheFoolEngine/vendor/glm"]
	path = TheFoolEngine/vendor/glm
	url = https://github.com/g-truc/glm
