[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
Bip001
Pelvis
thigh_l
calf_l
foot_l
ball_l
PT_ani_Lleg_04
PT_ani_Lleg_05
PT_ani_Lleg_03
PT_ani_Lleg_02
PT_ani_Lleg_01
thigh_r
calf_r
foot_r
ball_r
PT_ani_Rleg_04
PT_ani_Rleg_05
PT_ani_Rleg_03
PT_ani_Rleg_02
PT_ani_Rleg_01
PT_bone_Rleg_01
Bone_R_Leg_01
Bone_R_Leg_02
Bone_R_Leg_03
Bone_R_Leg_04
Bone_R_Leg_end
PT_bone_Lleg_01
Bone_L_Leg_01
Bone_L_Leg_02
Bone_L_Leg_03
Bone_L_Leg_04
Bone_L_Leg_end
PT_Bone_tail_01
Bone_Tail_01
Bone_Tail_02
Bone_Tail_03
Bone_Tail_end
SpineSpliter
spine_01
neck_01
neck_02
head
PT_ani_Head_03
PT_ani_Head_04
Fx_Top
PT_ani_Head_02
PT_ani_Head_01
PT_bone_head_01
Bone_Head_01
Bone_Head_02
Bone_Head_03
Bone_Head_end
PT_Bone_jaw_01
Bone_jaw_01
PT_Bone_neck_01
PT_Bone_shell_01
clavicle_l
upperarm_l
lowerarm_l
hand_l
thumb_01_l
PT_ani_Lhand_04
PT_ani_Lhand_05
PT_ani_Lhand_03
PT_ani_Lhand_02
PT_ani_Lhand_01
PT_bone_Lhand_01
Bone_L_hand_01
Bone_L_hand_02
Bone_L_hand_03
Bone_L_hand_04
Bone_L_hand_end
clavicle_r
upperarm_r
lowerarm_r
hand_r
thumb_01_r
PT_ani_Rhand_04
PT_ani_Rhand_05
PT_ani_Rhand_03
PT_ani_Rhand_02
PT_ani_Rhand_01
PT_bone_Rhand_01
Bone_R_hand_01
Bone_R_hand_02
Bone_R_hand_03
Bone_R_hand_04
Bone_R_hand_end
Fx_Bottom
Fx_Ground
Fx_Name
